@media only screen and (max-width: 640px) {
    body {
        width: auto;
        height: auto;
        background-color: black;
        align-items: center;
        align-content: center;
        text-align: center;
    }
    div{
        opacity: 0.0;
        height: 0px;
        width: 0px;
    }
    img{
        width: 92%;
        height: auto;
        margin-left: 20px auto;
        border: double white;
    }
    h1{
        background-color: rgb(0, 78, 52);
        border: double  aquamarine;
        color: azure;
        width: auto;
    }
    a{
        text-decoration:none;
    }
    h2{
        height: 50px;
        padding:0.4em;
        border-radius: 2em;
        margin-top: 10px;
        color: rgb(29, 0, 143);
        background-color: rgb(163, 163, 163);
        font-size: 1.4em;
    }
    h2:hover{
        height: 50px;
        padding:5px;
        border-radius: 2em;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        color: rgb(255, 255, 255);
        background-color: rgb(38, 0, 100);
        font-size: 1.4em;
    }
    h2:active{
        height: 50px;
        padding:5px;
        border-radius: 2em;
        width: 95%;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        color: rgb(143, 0, 0);
        background-color: rgb(0, 238, 255);
        font-size: 1.4em;
    }
}
@media only screen and (min-width: 643px){
    body{
        background-color: black;
    }
    a{
        height: 0px;
        width: 0px;
    }
    div{
        text-align: center;
        font-family: cursive;
        color: blueviolet;
        font-size: 29px;
    }
    img{
        opacity: 0.0;
        height: 0px;
        width: 0px;
        
    }
    #titulo{
        opacity: 0.0;
        height: 0px;
        width: 0px;
    }
    a{
        text-decoration:none;
    }
    h2{
        opacity: 0.0;
        height: 0px;
        width: 0px;
    }
}